<form method="POST" action="/post-form">
<p>Declare your alliance!</p>
    Firstname:<input type="text" name="first-name">
    Lastname:<input type="text" name="last-name">
    Cohort:<input type="text" name="cohort">
    Editor:<select name="editor">
        <option value="VS Code">VS Code</option>
        <option value="Atom">Atom</option>
        <option value="Sublime">Sublime</option>
    </select>
    <input type="submit" value="submit">

</form>