<section class="podium-container">
    <img src="../../../public/assets/burst_podium_dribbble.gif">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
</section>